.esOuter {
    text-align: left;    
    padding:50px;
}

.esLabelledField {
    margin-bottom:32px;
}

.esLabel { 
    text-transform: uppercase;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
}

.esValue {
    font-size: 24px;
    margin: 0;
}

.esOpenSpan {
    background: #24c329;
    color:white;
    white-space: nowrap;

    margin-left: 12px;
    padding: 6px 12px 6px 12px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.trueTick {
    padding-right:10px;
    color: rgb(60, 218, 60);
}

.falseCross {
    padding-right:10px;
    color: red;
}

.esLeft {
    width:45%;
    float:left;
}

.esLeft img {
    width:100%;
}

.esRight {
    width:calc(55% - 50px);
    float:right;
    padding-left:50px;
}

h1 {
    margin-top:0px;
}

@media only screen and (max-width: 900px) {
    .esValue {
        font-size: 18px;
    }
    .esOpenSpan {
        max-width:50%;
        display: block;
        margin-top: 10px;
        margin-left: 00px;
    }
}