.main {
    max-height: 800px;
}

.mainUpper {
    padding:25px;
}

.mainUpperFlex {
    display: flex;
    padding-left: 40px;
}

.mainLeft {
    width:300px;
    float:left;
    background: #e5e5e5;

    min-height: 780px;
    max-height: 780px;

    overflow-y: scroll;

    border-right: 10px solid #e5e5e5;
    border-top: 10px solid #e5e5e5;
    border-bottom: 10px solid #e5e5e5;

}

.mainRight {
    width:calc(100% - 310px);
    float:right;

    background: #f1f1f1;

    min-height: 800px;
    max-height: 800px;
}

.venueList {
    cursor: pointer;
    padding-right: 20px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.venueList > li {
    text-align: left;
    padding:15px 15px 15px 40px;
    list-style: none;
    border-top: 1px solid darkgray;
}

.venueList > li:hover {
    background: #50bebf;
    color:#eee;
}

.resultsLabel {
    padding-left: 40px;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    text-align: left;
}

.catList {
    padding-left: 0px;
}

.catList > li {
    text-align: left;
    list-style: none;
    white-space:nowrap;
}

.cuisineList {
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
}

.cuisineList > li {
    text-align: left;
    list-style: none;
    white-space:nowrap;
}

.filterLabelCuisine {
    margin-left:40px;
}

.filterLabel {
    text-align: left;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.filterList > li {
    padding-bottom: 10px;
    padding-right: 1em;
}

.rangeSelectorsAside{
    margin-right: 40px; 
    margin-top: 16px;
    margin-left: auto;

    max-width: 400px;
    width: 100%;
}

  @media only screen and (max-width: 1200px) {
    
  }

  @media only screen and (max-width: 900px) {
    .mainRight {
        min-height: 900px;
        max-height: 900px;
    }

    .mainLeft {
        min-height: 880px;
        max-height: 880px;
    }
    
    .mainUpperFlex {
        padding-left: 0px;
        flex-wrap: wrap;
    }

    .esOuter {
        width:calc(100% - 100px);
    }

    .esLeft {
        width: 100%;
    }

    .esLeft > img {
        max-width: none;
    }
    
    .esRight {
        width:100%;
        padding:none;
        margin-top:20px;
    }

    .rangeSelectorsAside{
        flex-wrap: wrap;
        margin-left: 0px;
        width:100%;
        max-width: none;
        margin-bottom:40px;
    }
  }

  @media only screen and (max-width: 650px) {
    .esLeft {
        width: 100%;
    }

    .esRight {
        width: 100%;
    }

    .mainLeft {
        width:calc(100% - 10px);
        max-height: 200px;
        min-height: 0px;
        margin-bottom: 40px;
    }

    .mainRight {
        float:none;
        width:100%;
        max-height: none;
    }


    .cuisineList {
        -moz-column-count: 2;
        -moz-column-gap: 1em;
        -webkit-column-count: 2;
        -webkit-column-gap: 1em;
        column-count: 2;
        column-gap: 1em;
    }

    .filterLabelCuisine {
        margin-left:0px;
    }

    .cuisineList {
        padding-left:0px;
    }
  }