* {
    font-family: 'Lato', sans-serif;
}
.container {
    margin: auto;
    text-align: center;
    max-width: 1200px;

    &__image {
        width: 100px;
        height: auto;
    }
}

.left {
    text-align: left;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #acb7b7;
  border: 0px none #ffffff;
  border-radius: 46px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #d5d5d5;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}